
main{
    background-color: rgba(0, 119, 182, 1);
}

main .home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 2rem 0;
    min-height: calc(100vh - 137px);
}

main .home .text {
    position: relative;
    font-size: 15rem;
    color: #eee;
    font-weight: 700;
    color: #3f8efc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

main .home .text span {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateY(-50%);
    color: #eee;
}

main .home .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

main .home .menu a {
    color: #fff;
    font-weight: 500;
    background-color: #3f8efc;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    transition: .3s;
}

main .home .menu a:hover {
    transform: scale(1.02);
    background-color: #000428;
}

@media (max-width: 767px) {
    main .home {
        flex-direction: column;
    }

    main .home .menu {
        width: 90%;
    }

    main .home .text {
        font-size: 12rem;
        margin: 0;
        margin-right: 4rem;
        margin-bottom: 2rem;
    }
}