body {
  font-family: 'Poppins', sans-serif;
  background: rgba(0, 119, 182, 1);
}

.container {
  text-align: center;
  padding-top: 2rem;
  min-height: 70vh;
}

div.row {
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0;
    vertical-align: top;
}

div.single {
    height: 125px;
    width: 125px;
    background: #fff;
    margin: 0.5rem 0;
    padding: 0;
    line-height: 8rem;
    font-family: sans-serif;
    font-size: 5rem;
    color: rgba(0, 119, 182, 1);
    cursor: pointer;
    border-radius: 0.5rem;
}

div#infodisplay {
    font-size: 3rem;
    color: #fff;
    padding: 2rem 0;
}

div.playagain {
  padding: 1rem 0;
}

div.playerchoice button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 3rem;
    background: #0a002788;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin: 0 1rem;
}

div.playagain button {
    display: inline-block;
    height: 64px;
    font-size: 2rem;
    font-weight: bold;
    background: #0a002788;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

.gp {
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2px 0;
}

.gamePage {
    font-size: 2rem;
    text-align: center;
    color: white;
}

@media (max-width: 420px) {
    div.single {
        height: 80px;
        width: 80px;
        font-size: 80px;
        line-height: 80px;
    }

    div#infodisplay {
        height: 80px;
        font-size: 1.5rem;
        color: #fff;
    }
}