@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #fff;
    background: #1265eb;
}

body {
    background: linear-gradient(to right,
            #04214b,
            #003170,
            #004298,
            #0054c1,
            #1265eb);
}

.select-box,
.play-board,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box {
    background: #fff;
    padding: 3rem 2.5rem 2.5rem;
    border-radius: 0.5rem;
    max-width: 400px;
    width: 100%;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
}

.select-box h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid lightgrey;
}

.select-box .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin: 1.5rem 0;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.1rem 0;
    border: none;
    background: #04214b;
    border-radius: 0.5rem;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.options button:hover,
.btn button:hover {
    transform: scale(0.96);
}

.options button.playerX {
    margin-right: 0.5rem;
}

.options button.playerO {
    margin-left: 0.5rem;
}

.play-board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.play-board .details {
    padding: 1.2rem;
    border-radius: 0.5rem;
    background: #fff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.play-board .players {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.players span {
    position: relative;
    z-index: 2;
    color: #003170;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    cursor: default;
    user-select: none;
    transition: all 0.3 ease;
}

.players.active span:first-child {
    color: #fff;
}

.players.active span:last-child {
    color: #004298;
}

.players span:first-child {
    color: #fff;
}

.players .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #0054c1;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.players.active .slider {
    left: 50%;
}

.players.active span:first-child {
    color: #1265eb;
}

.players.active span:nth-child(2) {
    color: #fff;
}

.players.active .slider {
    left: 50%;
}

.play-area {
    margin-top: 1.2rem;
}

.play-area section {
    display: flex;
    margin-bottom: 0.1rem;
}

.play-area section span {
    display: block;
    height: 90px;
    width: 90px;
    margin: 0.1rem;
    color: #1265eb;
    font-size: 3.6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 0.5rem;
    background: #fff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.result-box {
    padding: 1.5rem 1.2rem;
    border-radius: 0.5rem;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    text-align: center;
    background: #fff;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box .won-text {
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won-text p {
    font-weight: 600;
    margin: 0 0.5rem;
}

.result-box .btn {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.btn button {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.7rem 1.5rem;
    border: none;
    background: #04214b;
    border-radius: 0.5rem;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}